
{% extends 'baseFront.html.twig' %}



      {% block  section %} 
            <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
                <div class="card col-lg-4 mx-auto">
                    <div class="card-body px-5 py-5">
                        <h3 class="card-title text-center mb-3">Reset Password</h3>


                        {{ form_start(emailForm) }}
                        <div class="form-group">
                            {{ form_widget(emailForm.email  , {'attr' : {'class' : 'form-control p_input' , 'placeholder' : 'Email'}}) }}
                        </div>
                        <div class="text-center"> {{ form_widget(emailForm.submit , {'attr' : {'class' : ' btn btn-lg btn-primary my-4' , 'placeholder' : 'Send Email'}}) }}
                        </div>

                        <p class="sign-up">Don't have an Account?<a href="{{ path('app_register') }}"> Sign Up</a></p>
                        <p class="sign-up">Or Log in !<a href="{{ path('app_login') }}"> Login</a></p>

                        {{ form_end(emailForm) }}

                    </div>


                </div>
                </div>

                {% endblock %}
            