<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Page</title>
    <link rel="stylesheet" href="{{asset('css/style.css.css')}}">
    <link rel="stylesheet" href="{{asset('css/game.css')}}">
    <title>Compte à rebours</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style type="text/css">
        #countdown {
            font-size: 80px;
            font-weight: bold;
            text-align: center;
        }
    </style>
</head>
<body>
<div id="countdown"></div>

<script type="text/javascript">
    let ready = $(document).ready(function() {
        var count = 30;
        var countdown = setInterval(function () {
            $("#countdown").html(count);
            if (count == 0) {
                clearInterval(countdown);
                alert("Temps écoulé !");
                currentQuestion++;

            }
            count--;
        }, 1000);
    });
</script>

<div class="container" >
    <div id="game" class="justify-center flex-column">
        <div id="hud">
            <div class="hud-item">
                <p id="progressText" class="hud-prefix">
                    Question
                </p>
                <div id="progressBar">
                    <div id="progressBarFull"></div>
                </div>
            </div>
            <div class="hud-item">
                <h1 type="hidden" name="score" value="{{ new }}" ></h1>

                <h1 class="hud-main-text" id="score" >

                </h1>
            </div>
        </div>

        <div class="question-container">
                <h1 id="question"></h1>



                <div class="choice-container">
                    <p class="choice-prefix">A</p>
                    <p class="choice-text" data-number="1"></p>
                </div>

                <div class="choice-container">
                    <p class="choice-prefix">B</p>
                    <p class="choice-text" data-number="2"></p>
                </div>

                <div class="choice-container">
                    <p class="choice-prefix">C</p>
                    <p class="choice-text" data-number="3">
                    </p>
                </div>

                <div class="choice-container"  >
                    <p class="choice-prefix">D</p>
                    <p class="choice-text" data-number="4"></p>
                </div>


        </div>

        <div class="question-container" style="display: none;">

                <h1 id="question"></h1>

                <div class="choice-container">
                    <p class="choice-prefix">A</p>
                    <p class="choice-text" data-number="1"></p>
                </div>
                <div class="choice-container">
                    <p class="choice-prefix">B</p>
                    <p class="choice-text" data-number="2"></p>
                </div>
                <div class="choice-container">
                    <p class="choice-prefix">C</p>
                    <p class="choice-text" data-number="3"></p>
                </div>
                <div class="choice-container">
                    <p class="choice-prefix">C</p>
                    <p class="choice-text" data-number="3"></p>
                </div>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script src="{{asset('js/game.js') }}"></script>
            <script src="{{asset('js/countdown.js') }}"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.2/jquery.twbsPagination.min.js"></script>

        </div>
    </div>
</div>
</body>
</html>
